<ul class="media-list">
 <div class="row">
  <% ramenposts.each do |ramenpost| %>
   <div class="col-xs-12 col-md-6">
    <li class="media">
      <div class="media-left">
      </div>
      <div class="media-body">
        <%= link_to ramenpost.user.name, user_path(ramenpost.user) %> <span class="text-muted">posted at <%= ramenpost.created_at %></span>
        <%= render 'layouts/modal', ramenpost: ramenpost %>
      </li>
     </div>
    <% end %>
   <%= paginate ramenposts %>
  </div>
 </div>
</ul>
