// Place all the styles related to the ramenposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .content-wrapper {
    overflow: hidden;
    width: 100%;
  }
  .content {
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 3em;  
  }
  
  .modal-dialog{
    background-color: #ffffff;
  }
 
  .aligncenter img {
   width: 500px;
   height: 500px;
  }
  

